{% extends 'mystockapp/base.html' %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K6BMKFBVQF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K6BMKFBVQF');
</script>

<!-- block is used for overriding specific parts of a template --> 

{% block content %}
<div class="sec"> 
    <section>
        Stock: {{ query }}
        <div>Closing Price: {{price}}</div>
        <div>{{summary}}</div>
        
    </section>
</div>
{% endblock %}